@media (width>900px) {
	.art-post-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: rgb(27, 27, 27);
		border-radius: 6px;
		height: 100%;
		margin: 100px;
	}
	.art-post {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		width: 600px;
		height: 900px;
	}

	.art-post-img {
		display: flex;
		align-items: center;
		width: 500px;
		margin: 50px;
		height: fit-content;
	}

	.art-post:nth-of-type(2) > img {
		object-fit: scale-down;
		width: 500px;
		height: 680px;
	}
}
@media (width<900px) {
	.art-post-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		margin: 10px;

		margin-top: 100px;
		background-color: rgb(27, 27, 27);
	}
	.art-post {
		align-items: center;
		justify-content: center;
		display: flex;
		width: 100%;
		margin: 50px;
	}
	.art-post > img {
		display: flex;
		width: 300px;
		height: 100%;
	}
}
